nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/") Voting App
        ul.nav.navbar-nav.navbar-right
            li
                a(href="/signup")
                    span.glyphicon.glyphicon-user
                    | Sign Up
            li
                a(href="/login")
                    span.glyphicon.glyphicon-log-in
                    | Log In