include ./includes/bootstrap.pug
include ./includes/menu.pug
.container
    .row
        .col-md-offset-3.col-md-6
            form.form(action='/login' method='POST')
                .form-group
                    label(for='username') Username
                    input.form-control(type='text' name='username' placeholder='Username')
                .form-group
                    label(for='password') Password
                    input.form-control(type='password' name='password' placeholder='Password')
                .form-group
                    button.btn.btn-primary(type='submit') 
                        span.glyphicon.glyphicon-log-in
                        | &nbsp; Log In
    .row
        .col-sm-12.col-md-offset-3.col-md-6
            a.btn.btn-primary(href="/auth/twitter") 
                i.fa.fa-twitter.fa-lg
                | &nbsp; Log in via Twitter