include ./includes/bootstrap.pug
include ./includes/menu.pug
include ./includes/jquery.pug
script(src='/scripts/signup.js')
.container
    .row
        .col-md-6.col-md-offset-3
            form.form(action='/signup' method='POST' onsubmit="return validateForm()")
                .form-group
                    label(for='username') Username
                    input.form-control(type='text' id='username' name='username' placeholder='Username' required pattern=".{3,20}" onblur="checkUsername()")
                    .alert.alert-danger#usr-alert(style="display:none;")
                .form-group
                    label(for='password') Password
                    input.form-control(type='password' id='password' name='password' placeholder='Password' required pattern=".{3,20}")
                .form-group
                    label(for='password-confirm') Confirm Password
                    input.form-control(type='password' id='password_conf' name='password-confirm' placeholder='Confirm Password' required pattern=".{3,20}")
                    .alert.alert-danger#passwd-alert(style='display:none')
                .form-group
                    button.btn.btn-primary(type='submit') 
                        span.glyphicon.glyphicon-user
                        | &nbsp; Sign Up